* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html, body {
    margin: 0;
}

.nav-bar {
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 9999;
    position: fixed;
    left: 0;
    right: 0;
    transition: top 0.3s;
}
.nav-list {
    list-style: none;
    display: grid;
    margin: 0px;
    color: rgb(208, 204, 204);
}
.nav-list a {
    display: block;
    color: rgb(208, 204, 204);
}

.nav-list-item {
    padding: 20px;
}

.nav-list-item:hover {
    background-color: rgb(0, 0, 255);
    cursor: pointer;
    transition: 0.5s;
}

.title {    
    text-align: center;
    color: rgb(208, 204, 204);
    background-color: rgb(0, 0, 255);
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    padding: 15% 0px;
    
}

.btn-me {
    border-radius: 5px;
    border: none;
    padding: 30px;
    font-size: 25px;
}

.objective, .projects, .one-pages, .social {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.obj-title {
    width: 54%;
}

.obj-p {
    max-width: 75ch;
}

/* .profile-pic {
    width: 244px;
    height: 344px;
    border-radius: 1950px;
} */

.no-margin {
    margin: 0;
}

.name-title {
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 1s;
}

.name-title:hover {
    color: rgb(0, 0, 0);
    font-size: 100px;
    transition: 1s;
}

.small {
    font-size: 24px;
}

.project-container {
    display: grid;
    grid-template-columns: 1fr;
    
}

.pro-item {
    padding: 30px;
    margin: 5px auto;
    border: black solid 5px;
    transition: 0.3s;
}

.pro-item:hover {
    border: 7px solid darkblue;
    transition: 0.3s;
    padding: 50px;
}

.pro-link {
    color: rgb(138, 43, 226);
    transition: 2s;
}

.pro-link:hover {
    color: rgb(0, 0, 255);
    transition: 0.3s;
}

.pages-container {
    transition: 0.3s;
    width: 54%;
}

.page-img {
    width: 100%;
    border-radius: 5px;
    border: solid 5px rgb(0, 0, 0);
}

.social-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.ico-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .nav-bar {
        padding: 5px;
    }
    
    .name-title {
        font-size: 40px;
    }

    .name-title:hover {
        font-size: 50px;
        transition: 1s;
    }
    
    .title {
        padding: 30%;
        font-size: smaller;
        text-align: center;
    }

    .obj-title {
        width: initial;
        text-align: center;
    }

    .one-pages, .project-container, .objective {
        display: initial;
    }

    .project-container {
        width: initial;
        display: flex;
        flex-direction: column  ;
        max-width: 50%;
    }

    .page-img {
        width: 150%;
        text-align: center;
    }

    .social-container {
        display: flex;
        flex-direction: column;
    }
}


