* {
    box-sizing: border-box;
}

html, body {
    /* height: 100%; */
    margin: 0;
    background-color: rgb(0, 89, 95);
    scroll-behavior: smooth;
}
.container, .poke-container, .type-container {
    display: flex;
}

.container {
    justify-content: space-evenly;
    height: inherit;
}

.search-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.poke-container {
    color: white;
    display: none;
    background-color: rgb(0, 0, 0);
    width: 50vw;
    height: inherit;
    text-align: center;
}

.type-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and  (max-width: 800px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .poke-container {
        width: 95vw;
    }
}
